$primaryColor: #191919;
$secondaryColor: #0066FF;
$fieldColor: #F2F2F2;
$fieldFontColor: #B9B9B9;
$footerColor: #3E3E3E;
$footerFontColor: #F2F2F2;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1499px;